stages:
  - test

variables:
  BUILD_DIR: build

.default-job-template:
  stage: test
  image: gcc:13       # образ с g++ и make
  before_script:
    - apt-get update -y
    - apt-get install -y cmake git
  script:
    - cmake -S . -B $BUILD_DIR
    - cmake --build $BUILD_DIR
    - cd $BUILD_DIR
    - ctest --output-on-failure

test_main:
  extends: .default-job-template
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always

test_merge_request:
  extends: .default-job-template
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
